@value lato from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  composes: box from './common/layout.css';

  overflow: hidden;
  font-family: lato;
  font-weight: normal;
  font-smoothing: antialiased;
}

.dropdown-toggle {
	border: 0;
}

.fp__container {
	z-index: 1100 !important;
}

table {
	margin: 100px auto 0 auto;

	th, td {
		padding: 30px;
		border-bottom: 1px solid #a3a3a3;
		border-top: 1px solid #a3a3a3;
		text-align: center;
	}

}
