@value lato from './common/typography.css';

/*
 * Add any global styles here
 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

.app {
  composes: box from './common/layout.css';

  overflow: hidden;
  font-family: lato;
  font-weight: normal;
  font-smoothing: antialiased;
}

.dropdown-toggle {
	border: 0;
}

.fp__container {
	z-index: 1100 !important;
}


.slick-prev:before, .slick-next:before {
  color: black;
}
