@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

/*@value montserrat: 'Montserrat', Helvetica, Arial, sans-serif;*/
@value lato: 'Lato', sans-serif;


.heading {
  font-family: lato;
  font-size: 28px;
  font-weight: 700;

  line-height: 48px;
}

.subheading {
  font-family: lato;
  font-size: 21px;
  font-weight: 700;

  line-height: 24px;
}

.normal {
  font-family: lato;
  font-size: 16px;
  font-weight: 400;

  line-height: 24px;
}

.small {
  font-family: lato;
  font-size: 12px;
  font-weight: 400;

  line-height: 24px;
}
