@value primary-color, dark-primary-color, light-primary-color, accent-color, primary-text, divider-color from '../common/colors.css';

.aboutpg {
  height: 100%;
  background-color: #F1F3EF;
}

.header {
  composes: heading from '../common/typography';
  text-align: center;
}

.logo {
  padding: 30px;
}
.description {
  /*padding-top: 100px;*/
  /*margin: 30px;*/
  text-align: center;
}

.features  {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  color: dark-primary-color;
  font-size: 20px;
  color: dark-primary-color;
  padding-top: 100px;
  padding-bottom: 150px;
}

.imgText {
  margin-top: 20px;
}

.features > div {
  flex: 1;
}


.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  color: dark-primary-color;
  font-size: 20px;
  border: solid 2px accent-color;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active,
.btn-social.active {
  color: #18bc9c;
  background: white;
  border: solid 2px accent-color;
}

footer {
  color: black;
}
footer h3 {
  margin-bottom: 20px;
}
footer .footer-above {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: light-primary-color;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 15px 0;
  color: white;
  background-color: dark-primary-color;
}

 .footer-below {
  padding: 15px 0;
  color: white;
  background-color: dark-primary-color;
  text-align: center;
}
