@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.BottomBar {
  border: 0px solid transparent;
  height: 30px;
  display: inline-flex;
  background-color: light-primary-color;
  width: 100%;
  position: fixed;
  bottom: 0px;
  opacity: 0.8;
  padding-left: 5px;
  vertical-align: middle;
  padding-top: 4px;
  /*overflow-x: auto;*/
}

.BottomRowCount {
  display: block;
}

.BottomRowCountSpan {
  display: block;
  width: 55px;
  color: #797979 !important;
}

.BottomReducers {
  display: inline-block;
  /*border-right: 1px solid #dde1e3;
  border-left: 1px solid #dde1e3;*/
  border:none;
  margin-top: -5px;
  max-height: 20px;

}


.DropdownHead:focus, .DropdownHead:hover, .DropdownHead:active {
  background-color: inherit !important;
  border: none;
  box-shadow: none;
}



.DropdownHead {
    width: 100%;
    display: inline-block;
    background-color: inherit;
    border: none;
}

.DropdownHead span {
  color: #797979 !important;
}

.DropdownCarrat {
    float: right;
}

.MenuItem {
    width: 190px;
}
