.dashboard {


}

.profile {
  margin: 0 auto;
  width: 500px;
  padding-top: 50px;
  padding-right: 10px;
  position: relative;
  height: auto;
  overflow: auto;
}

.spaces {
  margin: 0 auto;
  width: 500px;
  font-size: 150%;
  /*margin-left: 10px;*/
  line-height: 200%;
  height: auto;
  overflow: auto;
}

.profImg {
  margin-top: 10px;
  margin-right: 25px;
  height: 150px;
  width: 150px;
}

.profData {

}
