@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.dashboard {
  height: 90vh;
  margin: 30px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.spaces {
  margin-top: 5px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 70vh;
  min-height: 30vh;
  background: rgba(50,50,50,.1);
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.spacesDiv {

  padding: 10px;
  margin:20px;
  font-size: 120%;
  margin-left: 20px;
  line-height: 200%;
  flex-basis: 250px;
  flex: 1;
}


.spaceHeader {
  background: primary-color;
  border-radius: 1px;
  color: white;
}

.profImg {

}

.profData {

}

.addSpace {
  background-color: #00BCD4;
  text-color: white;
  border: 0;
  margin-left: 10px;

}

.iconForSheet {
  margin-bottom: 30px;
  font-size: 2.5em;
  display: inline-block;
}

.icon {
  width: 60px;
  height: 60px;
}
