
.wrap {
  width: 70%;
}

.outer {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  background-size: auto;
  height: 100%;
  width: 100%;
  opacity: .85;

}

.login {
  width: 400px;
  align: center;
  margin: auto;
  background-color: color-athens-gray;
  border: 2px solid color-mercury;
  border-radius: global-radius;
  box-sizing: border-box;
}

  .waiting {
    .loading {
      display: block;
    }
  }

  .alternative {
    background: color-white;
    padding: 12px 8px;
    color: white;
    font-size: font-medium;
    text-align: center;
  }

  .alternative-link {
    color: color-dodger-blue;
    font-weight: bold;

    cursor: pointer;
  }

  .loading {
    display: none;
    text-align: center;
    margin: auto;
  }

  .email-container {
    padding: 16px 12px;
    border-bottom: 2px solid color-mercury;
  }

  .google-container {
    padding: 16px 12px;
  }

  .header {}

  .heading {
    composes: subheading from '../common/typography';

    padding: 16px 12px;
    text-align: center;
    color: white;
  }

  .input {
    composes: input from '../common/input';
  }

  .message {
    color: color-crimson;
    font-size: font-small;
  }

  .button {
    composes: greenButton from '../common/button';
    color: blue;
  }

  .hint {
    composes: small from '../common/typography';
    color: color-bombay;
  }
