@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.MagicBar {
  padding-top: 5px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  background-color: light-primary-color;
  width: 100%;
}

.SearchButton, .ShareButton, .HistoryButton, .SaveButton {
  display: inline-block;
  width: 25px;
  margin-left: 15px;
}

.ShareButton, .HistoryButton, .SaveButton {
  display: inline-block;
  width: 25px;
  float: right;
  margin-right: 20px;
}

.HistoryButton .SaveButton {
  margin-left: 20px;
}

.SearchButton button {
  /*background-color: #f1f1f1;*/
}

.FormulaBar {
  display: inline-block;
  width: 500px;
}

.FormulaBar span {
  vertical-align: middle;
}

.InputToSearch {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 20px;
  width: 500px;
  height: 35px;
}
