.inputSelectOption{
	border-radius: 8px;
}

.addSelectOption{
	padding: 2px;
	border-radius: 8px;
	margin: 0px !important;
	margin-bottom: 5px !important;
}

.removeSelectOption{
	margin-left: -10%;
	margin-top: 5px;
	padding: 0px;
}