@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.col-header {
	font-size: 1.2em
}

.wrapper {
	margin: 15px 0;
	box-shadow: 0 0 0 1px #04bfd4 !important;
	border-radius: 4px;
	padding: 10px
}

.wide-modal {
	width: 90%;
}

.shareModal {
	margin: 0 auto;
}

.collabs {
	margin: 15px;
}

.addBtn {

}

.referenceHead {
  background-color: primary-color;
	border-radius: 4px;
	color: white;
}

.referenceBody {
	width: 600px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.refTabs {
	width: 120px;
	display: inline-block;
	margin: 10px;
}

.rowButton {
	width: 600px;
}

.modal-content {
	width: 600px;
}

.shareModalHeader {
	background: primary-color;
	border-radius: 4px;
	color: white;
}

.userImg {
	width: 30px;
	height: 30px;
	border-radius: 60%;
	border: 1px solid black;
	background: url("https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png") no-repeat center;
	background-size: 100%;
}

.shareButton {

}

.slick-container {
	margin: 0 auto;
	width: 90%;
}


