@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.col-header {
	font-size: 1.2em
}

.wrapper {
	margin: 15px 0;
	box-shadow: 0 0 0 1px #04bfd4 !important;
	border-radius: 4px;
	padding: 10px
}

.wide-modal {
	width: 90%;
}

.shareModal {

}

.addBtn {
	
}

.shareModalHeader {
	background: primary-color;
	border-radius: 4px;
	color: white;
}

.userImg {
	width: 30px;
	height: 30px;
	border-radius: 60%;
	border: 1px solid black;
	background: url("https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png") no-repeat center;
	background-size: 100%;
}

.shareButton {

}

.slick-container {
	margin: 0 auto;
	width: 90%;
}

.slick-prev:before, .slick-next:before {
  color: black;
}