
@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.navigation {
  display: block;
  height: 50px;
  color: white;
  background:  primary-color;
  /*box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);*/
  /*margin-bottom: 30px;*/
}

.item {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  padding: 8px 8px;
  color: color-black;
}

.main {
  margin-left: 16px;
  text-decoration: none;
}

.main:link, .main:visited {
    color: white;
}

.main:hover {
    text-decoration: none;
}

.spaceName {
  margin-left: 40%;
  font-size: 140%;
}

.active {
  color: primary-color;
}

.logInProfile {
  float: right;
}

.dashboardLink, .logInNav {
  font-size: 140%;
}
