
@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.navigation {
  display: block;
  height: 40px;
  color: white;
  background:  primary-color;
  /*box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);*/
  /*margin-bottom: 30px;*/
}

.item {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  padding: 8px 8px;
  color: color-black;
}

.main {
  margin-left: 16px;
  text-decoration: none;
}

.main:link, .main:visited {
    color: white;
}

.main:hover {
    text-decoration: none;
}

.spaceName {
  margin-left: 32%;
  font-size: 140%;
}

.spaceName:focus {
  background: light-primary-color;
  color: black;
}

.profileNav {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  border: 0;
  padding-left: 10px;
  background: transparent url(https://cdn3.iconfinder.com/data/icons/rcons-user-action/32/boy-512.png) no-repeat center;
  background-size: 100%;
}

.active {
  color: primary-color;
}

.logInProfile {
  float: right;
}

.dashboardLink, .logInNav {
  font-size: 140%;
}
