
@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.navigation {
  display: block;
  height: 50px;
  color: white;
  background:  #00BCD4;
  /*box-shadow: 0 3px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);*/
  /*margin-bottom: 30px;*/
}

.item {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  padding: 16px 16px;
  color: color-black;
}

.main {

}

.spaceName {
  margin-left: 40%;
  font-size: 115%;
}

.active {
  color: primary-color;
}

.logInProfile {
  float: right;
}
