@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.SheetButton {
  background: light-primary-color;
  border-color: primary-color;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  width: 120px;
  text-align: center;
  font-size: 110%;
  line-height: 27px;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
  font-weight: 200;
}

.SheetButton active {
  background: dark-primary-color;
  border-bottom: 1px solid light-primary-color;
}

.AddSheetButton {
  background: dark-primary-color;
  width: 40px;
  height: 30px;
  font-size: 125%;
  color: white;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}


.SheetTab {
  padding-left: 30px;
  padding-right: 30px;
}

.ActiveSheetTab {
  background-color: dark-primary-color;
}

.SheetsBar {
  background-color: primary-color;
}
