.table {
    display: inline-block;
    position: relative;
    display: inline-block;
    width: 100%;
}

.theaders {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid transparent;
    border-left: 1px solid #dde1e3;
}

.thead {
    min-width: 175px;
    display: inline-block;
    background: #fff;
    border-right: 1px solid #dde1e3;
    border-bottom: 0;
    border-radius: 0;
    padding: 10px;
}

.trows {
    margin-top: 40px;
    height: 100%;
    overflow: scroll;
}

.trow {
    width: 100%;
    display: inline-block;
}

.cell {
    width: 200px;
    max-height: 40px;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid #dde1e3;
    border-left: 1px solid #dde1e3;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    overflow: scroll;
}

.cell:focus {
    z-index: 100;
    width: 200px;
    max-height: 1000px;
}

.first-cell {
    width: 150px;
    padding: 0px;
    display: inline-block;
    border: none;
    overflow: scroll;
}

.first-cell:focus {
    z-index: 100;
    width: 150px;
    max-height: 1000px;
}

.cell-expand {
    display: inline-block;
    margin-right: 5px;
    padding: 6px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    opacity: 0;   
}

.cell-expand:hover {
    opacity: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.rnum {
    padding: 10px;
    padding-right: 15px;
    width: 10px;
    display: inline-block;
    border-bottom: 1px solid #dde1e3;
    overflow: scroll;
}
