@value columnWidth: 199px;
@value primary-color, dark-primary-color, light-primary-color, accent-color from '../common/colors.css';

.table {
    display: block;
    /*position: relative;*/
    width: 100%;
    height: inherit;
    overflow-y: scroll;
}

.typeDropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.editNameAndType {
  z-index: 99;
  padding: 10px;
  width: 250px;
  position: absolute;
  background: #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid transparent;
  border-left: 1px solid #dde1e3;
  border-top: 1px solid #dde1e3;
}

.editNameAndType button {
    margin:5px;
}

.dropdown {
  border-radius: 0px;
  background-color: red;
}

.dropdown-toggle {
    border-radius: 0px;
    background-color: red;
    border-color: red;
}

.columnCarrat {
    float: right;
}

.columnWidth {
  width: columnWidth;
}

.addColumn {
  width: 50px;
  display: inline-block;
  background: #fff;
  /*border-right: 1px solid #dde1e3;
  border-bottom: 1px solid #d1d1d1;*/
  border: 1px solid #d1d1d1;
  border-radius: 0;
  height: 34px;
}

.addRow {
  width: 30px;
  display: inline-block;
  background: #fff;
  border: 1px solid #dde1e3;
  border-radius: 0;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.theaders {
    /*position: absolute;*/
    top: 115;
    left: 0;
    display: block;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    position: fixed;
}

.thead {
    min-width: columnWidth;
    display: inline-block;
    background: #fff;
    border-right: 1px solid #dde1e3;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 0;
    height: 34px;
}

.trows {
    /*position: relative;*/
    margin-top: 35px;
    height: 100%;
    overflow: hidden;
    display: block;
}

.trow {
    width: 100%;
    display: block;
    height: 34px;
}

.cell {
    width: 200px;
    max-height: 40px;
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid #dde1e3;
    border-left: 1px solid #dde1e3;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    overflow: hidden;
}

.cell:focus {
    z-index: 100;
    width: 200px;
    max-height: 1000px;
}

.first-cell {
    width: 150px;
    padding: 0px;
    display: inline-block;
    border: none;
    overflow: scroll;
}

.first-cell:focus {
    z-index: 100;
    width: 150px;
    max-height: 1000px;
}

.cell-expand {
    display: inline-block;
    margin-right: 5px;
    padding: 6px;
    border-radius: 12px;
    width: 23px;
    height: 23px;
    opacity: 0;
}

.cell-expand:hover {
    opacity: 1;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.rnum {
    padding: 5px;
    /*padding-right: 20px;*/
    width: 30px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #dde1e3;
    overflow: scroll;
}

.topCorner {

  /*padding-right: 20px;*/
  width: 30px;
  text-align: center;
  display: inline-block;


}


#dropdown-Names {
    border-radius: 0px;
}

.img-thumb {
    width: 25px;
    height: 25px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    border-radius: 4px;
    margin-right: 7px;
}
